:root {
    --primary-fg-color: hsla(0, 0%, 10%, 1);
    --secondary-fg-color: hsla(0, 0%, 30%, 1);
    --primary-bg-color: hsla(0, 0%, 90%, 1);
    --secondary-bg-color: hsla(0, 0%, 70%, 1);
}

#switch-mode {
    position: absolute;
    top: 10vh;
    right: 7.5vw;
    font-size: 1.5rem;
    cursor: pointer;
}
